{{#each area.items as |portal|}} 
	<div class = "row portal">
		{{#if portal.isEditing}}
			Area {{input type = "text" placeholder = "Area" value = portal.area}}
			Name {{input type="text" placeholder = "Name" value=portal.name}}
			Short Code {{input type="text" placeholder = "Short Code" value = portal.shortCode}}
			Intel URL {{input type = "text" placeholder = "Intel URL" value = portal.intelUrl}}
			<button {{action "savePortal" portal}} class = "tiny">Save</button>
			<button {{action "cancelEdit"}} class = "tiny">Cancel</button>

		{{else}}
			<div class = "large-5 column left">{{portal.name}}</div>
			<div class = "large-2 left">({{portal.shortCode}})</div>
			<div class = "large-2 left"><a href = {{portal.mapsUrl}} target="google">Google</a></div>
			<div class = "large-1 left"><a href = {{portal.intelUrl}} target = "inte">Intel</a></div>
			{{#if session.currentUser.isAdmin}}
				<div class = "large-1 left">
					<span class = "icon" {{action "editPortal" portal}}><i class="fi-pencil"></i></span>
				</div>
				<div class = "large-1 left">
					<span class = "icon delete" {{action "deletePortal" portal}}><i class="fi-x"></i></span>
				</div>
			{{/if}}
		{{/if}}
	</div>
{{/each}}
{{#if session.currentUser.isAdmin}}
<div class = "row add-new">
	{{#if newLocation}}
		Area {{input type = "text" placeholder = "Area" value = newLocation.area}}
		Name {{input type="text" placeholder = "Name" value=newLocation.name}}
		Short Code {{input type="text" placeholder = "Short Code" value = newLocation.shortCode}}
		Intel URL {{input type = "text" placeholder = "Intel URL" value = newLocation.intelUrl}}
		<button {{action "savePortal" newLocation}} class = "tiny">Save</button>
		<button {{action "cancelEdit"}} class = "tiny">Cancel</button>
	{{else}}
		<div class = "large-4 column left" {{action "addPortal"}}>
			<span class = "icon"><i class="fi-plus"></i></span>
			<span>Add New Portal</span>
		</div>
	{{/if}}
</div>
{{/if}}