{{#each area.items as |portal|}} 
	<div class = "row">
		{{#if portal.isEditing}}
			Name {{input type="text" placeholder = "Name" value=portal.name}}
			Short Code {{input type="text" placeholder = "Short Code" value = portal.shortCode}}
			Google Maps URL {{input type = "text" placeholder = "Google Maps URL" value = portal.mapsUrl}}
			Intel URL {{input type = "text" placeholder = "Intel URL" value = portal.intelUrl}}
			Area {{input type = "text" placeholder = "Area" value = portal.area}}
			<button {{action "savePortal" portal}} class = "tiny">Save</button>

		{{else}}
			<div class = "large-4 column left">{{portal.name}}</div>
			<div class = "large-1 left">({{portal.shortCode}})</div>
			<div class = "large-1 left"><a href = {{portal.mapsUrl}} target="google">Google</a></div>
			<div class = "large-1 left"><a href = {{portal.intelUrl}} target = "inte">Intel</a></div>
			<div class = "large-1 left">
				<span class = "icon" {{action "editPortal" portal}}><i class="fi-pencil"></i></span>
				<span class = "icon" {{action "deletePortal" portal}}><i class="fi-x"></i></span>
			</div>
		{{/if}}
	</div>
{{/each}}
<div class = "row">
	{{#if newLocation}}
		Name {{input type="text" placeholder = "Name" value=newLocation.name}}
		Short Code {{input type="text" placeholder = "Short Code" value = newLocation.shortCode}}
		Google Maps URL {{input type = "text" placeholder = "Google Maps URL" value = newLocation.mapsUrl}}
		Intel URL {{input type = "text" placeholder = "Intel URL" value = newLocation.intelUrl}}
		Area {{input type = "text" placeholder = "Area" value = newLocation.area}}
		<button {{action "savePortal" newLocation}} class = "tiny">Save</button>
	{{else}}
		<div class = "large-4 column left" {{action "addPortal"}}>
			<span class = "icon"><i class="fi-plus"></i></span>
			<span>Add New Portal</span>
		</div>
	{{/if}}
</div>