{{#each area.items as |portal|}} 
	<div class = "row">
		{{#if portal.isEditing}}
			Name {{input type="text" placeholder = "Name" value=portal.name}}
			Short Code {{input type="text" placeholder = "Short Code" value = portal.shortCode}}
			Google Maps URL {{input type = "text" placeholder = "Google Maps URL" value = portal.mapsUrl}}
			Intel URL {{input type = "text" placeholder = "Intel URL" value = portal.intelUrl}}
			Area {{input type = "text" placeholder = "Area" value = portal.area}}
			<button {{action "savePortal" portal}} class = "tiny">Save</button>

		{{else}}
			<div class = "large-4 column left">{{portal.name}}</div>
			<div class = "large-1 left">({{portal.shortCode}})</div>
			<div class = "large-1 left"><a href = {{portal.mapsUrl}}>Google</a></div>
			<div class = "large-1 left"><a href = {{portal.intelUrl}}>Intel</a></div>
			<div class = "large-1 left" {{action "editPortal" portal}}><i class="fi-pencil"></i></div>
		{{/if}}
	</div>
{{/each}}