
<section id="image-upload-component">
  <div id="uploader" {{bind-attr class="isUploading:uploading"}}>
    {{#if isUploading}}
      {{partial 'partials/spinner'}}
    {{/if}}

    {{#if fileUploadSupported}}
      {{#unless isUploading}}
        <div id="upload-trigger" class="btn primary">
          <button type="button">
            <i class="icon-camera"></i>
            Upload photo
            <br><small>(under 500k)</small>
          </button>
        </div>

        {{!--<span class="remove-link" {{action 'clearFiles'}}>Remove image</span>--}}
      {{/unless}}
    {{else}}
      <div id="not-supported">
        Please open CoachLogix in Chrome, Firefox, Safari or IE10+ to upload images.
      </div>
    {{/if}}
  </div>
  <input type="file" id="file-upload">
  {{yield}}
</section>
