<div id = "locations" class = "large-12 columns">
	<div class = "row">
		<div class = "large-12 colmuns left">
			<div class = "large-1 columns left title">Areas</div>
			<div class = "large-3 columns left actions">
				<a class = "button tiny" href = "/api/v1/locations/download">Download</a>
				<a class = "button tiny" href = "#" {{action 'triggerFileSelection'}}>Upload</a>
				{{#file-uploader isDisabled=controller.isUploading fileInputChanged="receiveFile" uploadProgress="uploadProgress" }}
					<input type="file" id="locations-upload">
				{{/file-uploader}}
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "large-2 columns left scrolling">
			{{partial "partials/areas"}}
		</div>
		<div class = "large-10 column left">
			{{#if area}}
				<div class = "large-8 columns left">
					<div class = "title">Portals in {{area.value}}</div>
				</div>
				<div class = "portal-list">{{partial "partials/portals"}}</div>
			{{else}}
				<div class = "row map">
					{{google-map
					  lat=lat lng=lng zoom=zoom type=type markers=markers
					  gopt_mapTypeControl=false gopt_backgroundColor='transparent'
				  	  ev_click='didClickMap' markerInfoWindowTemplateName='marker-info-window'}}
				</div>
			{{/if}}
		</div>
	</div>
</div>


{{outlet}}


