<div class ="small-8 medium-4 large-4 small-centered medium-centered large-centered columns">
    <div id = "signup-form" class = 'login-box'>
        <div class = 'row'>
        <div class = 'columns'>
          <form {{action 'resetPw' on='submit'}}>
            <div class="row">
               <div class="large-7 columns left">
      	  		   {{input name='password' placeholder='password' type='password' value=password}}
               </div>
               <div class="large-5 columns left note password">
                  {{#unless pwIsStrong}}
                    4-12 characters, at least 1 number and 1 letter
                  {{/unless}}
               </div>
            </div>
            <div class="row">
               <div class="large-7 columns left">
      	  		   {{input  placeholder='veriffy password' type='password' value=verifypw}}
               </div>
               <div class="large-5 columns left note verifypw">
                  {{#unless pwIsEqual}}
                    passwords must match
                  {{/unless}}
               </div>
            </div>
             <div class="row">
              <div class="centered columns">
                <input type="submit" {{bind-attr class=":expand :button isReady::disabled"}} value="Reset"/>
              </div>
            </div>
          </form>
          </div>
        </div>
    </div>
</div>

{{outlet}}
